/* Write your CSS here */
.git-hub-pop-repos-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.pop-heading {
  font-family: 'Lobster';
  font-size: 40px;
}
.git-hub-pop-ul-con {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  width: 30%;
}
