/* Write your CSS here */
.list-btns {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
}

.border-change {
  border-radius: 30px;
  border: 1px solid #0284c7;
  color: #0284c7;
  padding: 10px 15px 10px 15px;
}
